aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
attrs==24.2.0
frozenlist==1.4.1
idna==3.10
joblib==1.4.2
multidict==6.1.0
numpy==1.26.0
pandas==2.2.3
python-dateutil==2.9.0.post0
python-deriv-api==0.1.6
python-dotenv==1.0.1
pytz==2024.2
reactivex==4.0.4
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
TA-Lib==0.4.32
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
websockets==10.3
yarl==1.13.1
